@import "../../responsive.scss";
.searchBar {

// align-self: flex-start;
width: 100%;
  .type {
    button {
      @include sm {
        margin-bottom: 5px ;
        // border-radius: 0px
      }
      padding: 16px 36px;
      border: 1px solid #999;
      // border-radius: 5px;
      background-color: white;
      cursor: pointer;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
        @include sm {
          border-bottom: 1px solid #999;
          // border-radius: 0px
        }
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }
  form {
    border: 1px solid #999;
    display: flex;
    height: 64px;
    justify-content: space-between;
    @include sm{
      flex-direction: column;
      border: none;
    
    }
    gap: 5px;
    input {
      border: none;
      padding: 0px 10px;
      width: 200px;
      @include lg {
        padding: opx 5px;
        &:nth-child(2),&:nth-child(3) {
          width: 140px;
        }
        @include md{
          width: auto;
          &:nth-child(2),&:nth-child(3) {
            width: auto ;
          }
        }
      }
      @include sm {
        padding: 20px;
        width: 100%;
        border: 2px solid #999 ;
      }
    }
    button {
      background-color: #fece51;
      border: none;
      padding: 15px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
@include sm {
        padding: 10px ;
      }
      &:hover {
        background-color: #826c31;
      }

      img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1); /* Makes the image white */
      }
    }
  }
}
